/* CSS for messages */

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#messages {
	border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    color: white;
}

